html {
    background-color: #bdbdbd;
}

div.main {
    height: 98vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container {
    display: flex;
    border-radius: 25px;
    width: 90vw;
    height: 80vh;
}

div.container > div#sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #096279;
    height: 100%;
    width: 40%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    gap: 2.5rem;
}

div#sign-in > h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 2rem;
    color: #EEE;
}

div#sign-up > h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 2rem;
    color: #096279; 
}

div#sign-in > span {
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: #EEE;
}

div#sign-in > button {
    font-family:'Times New Roman', Times, serif;
    font-size: 110%;
    height: 7%;
    width: 30%;
    background-color: #096279;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 20px;
    cursor: pointer;
}

div.container > div#sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #d3d2d2;
    height: 100%;
    width: 60%;
}

input[type="image"]{
    height: 5vh;
    background-color: #f3f3f3;
}

input[type="name"], input[type="password"] {
    background-color: #f3f3f3;
    border: 0px;
    width: 15vw;
    padding-left: 10px;
}

form#cadastrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form#cadastrar > div {
    display: flex;
    flex-direction: row;
}

form#cadastrar > input {
    padding: 15px;
    margin-bottom: 15px;
}

form#cadastrar > input#cadastrar {

    height: 5vh;
    width: 12vw;
    color: #FFF;
    background-color: #096279;
    border: 1px solid #096279;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

form#cadastrar > input#cadastrar:hover {
    background-color: #0e83a0;
    border-color: #0e83a0;
    transition: 0.2s;
}